.header, .footer {
  position: fixed;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: var(--gap);
  background: whitesmoke;
  
}
.header *, .footer * {
  margin: 0;
  padding: 0;

}
.header ul, .footer ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
.header {
  top: 0;
  height: var(--header-height);
}
.footer {
  bottom: 0;
}
.footer ul {
  width: 100%;
}
.main {
  padding-top: calc(var(--header-height) + var(--gap))
}

.alert {
  display: inline-block;
  position: absolute;
  top: calc(var(--header-height) + var(--gap));
  right: var(--gap);
  text-align: center;
  padding: var(--gap) calc(var(--gap) * 1.5);
  background: var(--color-success);
  box-shadow: 8px 8px 0 var(--color-light);
  color: var(--color-dark);
}
.alert button{
  background: transparent;
  border: none;
  position: absolute;
  top: 4px;
  right: 4px;
}