.header {
  text-align: center;
}

.editHabit {
  display: flex;
  flex-flow: column;
  max-width: 60ch;
  margin: auto;
  gap: 12px;
}
.editHabit input, .editHabit select {
  padding: 8px;
}
.editHabit select {
  background: white;
  border-radius: 6px;
  border: 1px solid var(--color-dark);
}
.editHabit button {
  background: var(--color-primary-1);
  color: whitesmoke;
  margin: 8px 0;
  padding: 12px 16px;
  border: none;
  border-radius: 6px;
  box-shadow: 3px 3px 0 var(--color-success);
  cursor: pointer;
}

label.inline, label.block {
 display: flex;
}
label.inline {
  align-items: center;
  gap: 8px;
}

label.block {
  flex-flow: column;
}

input.small {
  max-width: 8ch;
}
.editHabit button[type="submit"] {
  background-color: var(--color-primary-2);
  box-shadow: 3px 3px 0 var(--color-primary-1);
}

.accessList {
  background: white;
  border: 1px solid var(--color-dark);

}
.accessListOptions button {
  background: #f0f0f0;
  box-shadow: inset 3px 3px 6px rgba(0,0,0,.25);
  color: black;
  border-radius: 0;
  width: 50%;
  margin-bottom: 0;
}
.accessListOptions button.active {
  background: white;
  box-shadow: none;
}
.accessList  ul {
  margin: 8px;
  padding: 0;
}
.accessList li {
  list-style: none;
}
.accessList li .removeAccess {
  border-radius: 100%;
  background: var(--color-dark);
  box-shadow: none;
  font-size: 10px;
padding: 3px 6px;
margin-left: .25em;
}
.accessList li:hover .removeAccess {
  background: tomato;
}