.header {
  text-align: center;
}

.editHabit {
  display: flex;
  flex-flow: column;
  max-width: 60ch;
  margin: auto;
  gap: 12px;
}

.accessList {
  background: white;
  border: 1px solid var(--color-dark);

}
.accessListOptions button {
  background: #f0f0f0;
  box-shadow: inset 3px 3px 6px rgba(0,0,0,.25);
  color: black;
  border-radius: 0;
  width: 50%;
  margin-bottom: 0;
}
.accessListOptions button.active {
  background: white;
  box-shadow: none;
}
.accessList  ul {
  margin: 8px;
  padding: 0;
}
.accessList li {
  list-style: none;
}
.accessList li .removeAccess {
  border-radius: 100%;
  background: var(--color-dark);
  box-shadow: none;
  font-size: 10px;
padding: 3px 6px;
margin-left: .25em;
}
.accessList li:hover .removeAccess {
  background: tomato;
}