html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.sr-only {
  position: absolute;
  left: -10000vw;
  width: 1px;
  height: 1px;
  top: auto;
  overflow: hidden;
}

:root {
  --color-dark: #012030;
  --color-primary-1: #13678A;
  --color-primary-2: #45C4B0;
  --color-success: #9AEBA3;
  --color-light: #DAFDBA;
}